@import url(styles/header.css);
@import url(styles/banner.css);

:root{
    --cor-de-fundo:#e5e5e5;
    --branco:#ffffff;
    --amarelo:#ebc90a;
    --roxo:#5506bd;
    --roxo-degrade: linear-gradient(94.49deg, #733887 35.48%, #c75eeb 143.32%);
    --fonte-principal:"Poppins";
    --fonte-secundaria: "Josefin Sans";
    --preto:#000000;

}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
h1{
    background-color: white;
}