@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/paragrafos.css);

:root{
    --cor-de-fundo:#dbd5d7;
    --branco:#ffffff;
    --amarelo:#d4fd09;
    --roxo:#73018c;
    --roxo-degrade: linear-gradient(94.49deg, #73018c 35.48%, #c75eeb 143.32%);
    --fonte-principal:"Poppins";
    --fonte-secundaria: "Josefin Sans";
    --preto:#000000;

}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
h1{
    background-color: white;
}
.footer{
    background-color:var(--amarelo);
    color: var(--preto);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}