.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;

}

.lista-menu__titulo{
    color: var(--amarelo);
    font-weight: 700;
}

.lista-menu__link{
    color:var(--roxo);
}

.lista-menu__link{
    text-decoration: none;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.container{
    display: flex;
    align-items: center;
}

.opcoes{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding:0 1em;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }
    
    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
}