.cepa{
    width: 300px;
    justify-content: center;
    display: block;
    margin:0 auto;
    max-width: 100%;
}

.paragrafo{
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    font-weight: 400;
    color: var(--preto);
}

.cartaz{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        
    
}