table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Adicione uma margem inferior para espaçamento */
}

th, td {
    border: 1px solid var(--roxo);
    padding: 8px;
    text-align: justify;
}

th {
    background-color: var();
}

/* Define a largura da primeira coluna */
td:first-child {
    width: 30%;
}